*{
  margin: 0;
}
html{
  margin: 0;
  padding: 0;
  min-width: 400px;
}
 body{
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
  background: #314346;
  min-width: 400px;
}

a{
  color: #C25923;
}
a:hover{
  color: #BF3022;
}
a:visited{
  color: #691A13;
}
#contactInfo{
  list-style-type: none;
  font-size: 1.4em;
  padding-bottom: 30px;
}
#mainContent{
  padding-left: 5%;
    overflow: auto;
  height: auto;
position: inline;
  color: #c2c2c2;
  padding-bottom: 50px;
  min-height: 100vh;
  min-width: 400px;
}
section{
  padding-left: 0%;
}
#mainContent h1{
  padding-top: 30px;
}
.bodyContent{
  padding-left: 0;
  width:80%;
  word-wrap: break-word;
  float: none;
    min-width: 400px;

}
.textContent{
  float: none;
  word-wrap: none;
}
.bodyContent p{
	display: inline-block;
}
.bodyContent img{
  float: left;
  margin: 30px;
  margin-top: 30px;
  border-style: none;
}
.imgContainer{
    float: right;
    width: 100px;
}

.vidBox{
  margin:  5%;
}
.center{
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 10px;
}
.cycle-prev:hover, .cycle-next:hover {
    opacity: .7;
    filter: alpha(opacity=70);
}
.cycle-prev {
    left: 25%;
    background: url(http://malsup.github.com/images/left.png) 50% 50% no-repeat;
}
.cycle-next {
    right: 25%;
    background: url(http://malsup.github.com/images/right.png) 50% 50% no-repeat;
}
.cycle-prev, .cycle-next {
    position: absolute;
    top: 0;
    width: 30%;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 800;
    height: 100%;
    cursor: pointer;
}
#my-menu ul{
  font-size: 22pt;
}
@media (max-width: 800px){
  
}
		
        